<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{pages -> f:count()} == 1">
		<f:then>
			<f:for each="{pages}" as="page">
				<div class="row teaser teaser--layout-aside {f:if(condition: '{settings.asideAlignment} == \'right\'', then: 'teaser--layout-aside-reverse')}">
					<f:render section="Item" arguments="{_all}" />
				</div>
			</f:for>
		</f:then>
		<f:else>
			<ul>
				<f:for each="{pages}" as="page">
					<li class="row teaser teaser--layout-aside {f:if(condition: '{settings.asideAlignment} == \'right\'', then: 'teaser--layout-aside-reverse')}">
						<f:render section="Item" arguments="{_all}" />
					</li>
				</f:for>
			</ul>
		</f:else>
	</f:if>
</f:section>

<f:section name="Item">
	<f:if condition="{settings.asideMediaSize} == 'small'">
		<f:then>
			<div class="col-12 col-md-4">
				<f:render section="MediaContainer" arguments="{page: page, settings: settings.media.aside}" />
			</div>

			<div class="col-12 col-md-8">
				<div class="teaser--body teaser--body teaser--body-{settings.textAlignment}">
					<f:render section="Header" arguments="{_all}" />
					<f:render section="Abstract" arguments="{_all}" />
					<f:render section="Readmore" arguments="{_all}" />
					<f:render section="Subpages" arguments="{_all}" />
				</div>
			</div>
		</f:then>
		<f:else>
			<div class="col-12 col-md-5">
				<f:render section="MediaContainer" arguments="{page: page, settings: settings.media.aside}" />
			</div>

			<div class="col-12 col-md-7">
				<div class="teaser--body teaser--body-{settings.textAlignment}">
					<f:render section="Header" arguments="{_all}" />
					<f:render section="Abstract" arguments="{_all}" />
					<f:render section="Readmore" arguments="{_all}" />
					<f:render section="Subpages" arguments="{_all}" />
				</div>
			</div>
		</f:else>
	</f:if>
</f:section>

<f:section name="MediaContainer">
	<f:if condition="{page.linkable}">
		<f:then><f:link.typolink parameter="{page.typolink}" class="teaser--media" additionalAttributes="{'tabindex': '-1'}"><f:render section="Media" arguments="{page: page, settings: settings}" /></f:link.typolink></f:then>
		<f:else><div class="teaser--media"><f:render section="Media" arguments="{page: page, settings: settings}" /></div></f:else>
	</f:if>
</f:section>

<f:section name="Media">
	<f:if condition="{page.media}">
		<f:render partial="Media/Main" section="Main" arguments="{
			file: page.media.originalResource,
			settings: settings
		}" />
	</f:if>
</f:section>

<f:section name="Header">
	<header class="teaser--title">
		<f:switch expression="{record.tx_foundation_elements_header}">
			<f:case value="1">
				<h1><f:render section="Title" arguments="{page: page, settings: settings}" /></h1>
			</f:case>
			<f:case value="2">
				<h2><f:render section="Title" arguments="{page: page, settings: settings}" /></h2>
			</f:case>
			<f:case value="3">
				<h3><f:render section="Title" arguments="{page: page, settings: settings}" /></h3>
			</f:case>
			<f:case value="4">
				<h4><f:render section="Title" arguments="{page: page, settings: settings}" /></h4>
			</f:case>
			<f:defaultCase>
				<f:render section="Title" arguments="{page: page, settings: settings}" />
			</f:defaultCase>
		</f:switch>
	</header>
</f:section>

<f:section name="Title">
	<f:if condition="{page.linkable}">
		<f:then><f:link.typolink parameter="{page.typolink}">{page.teaserTitle}</f:link.typolink></f:then>
		<f:else>{page.teaserTitle}</f:else>
	</f:if>
</f:section>

<f:section name="Abstract">
	<f:if condition="{page.abstractLong}">
		<f:then>
			<f:format.html>{page.abstractLong}</f:format.html>
		</f:then>
		<f:else if="{page.abstract}">
			<f:format.html>{page.abstract}</f:format.html>
		</f:else>
	</f:if>
</f:section>

<f:section name="Readmore">
	<f:if condition="{page.linkable}">
		<f:link.typolink class="link--cta teaser--readmore" parameter="{page.typolink}" additionalAttributes="{'tabindex': '-1'}">{page.teaserReadmore}</f:link.typolink>
	</f:if>
</f:section>

<f:section name="Subpages">
	<f:if condition="{settings.subpagesEnabled}">
		<nav class="navigation teaser--sub-navigation teaser--sub-navigation-layout-{settings.subpagesLayout}">
			<f:cObject typoscriptObjectPath="block.teaserSubNavigation" data="{parent: page.uid}" />
		</nav>
	</f:if>
</f:section>
</html>
