<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:if condition="{pages -> f:count()} > {settings.readmoreLimit} && {settings.readmoreEnabled} != 0">
		<f:then>
			<f:render section="ReadmoreContainer" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render section="CardContainer" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="ReadmoreContainer">
	<div class="readmore-container">
		<div class="readmore-container--collapse">
			<f:render section="CardContainer" arguments="{pages: pages, record: record, settings: settings, additionalClass: 'readmore-container--body'}" />
		</div>
		<div class="readmore-container--toggle">
			<button class="button"><fo:svg.inline source="assets/svg/readmore.svg" /><f:translate key="LLL:EXT:ps14_foundation/Resources/Private/Language/locallang_frontend.xlf:action.loadmore" /></button>
		</div>
	</div>
</f:section>

<f:section name="CardContainer">
	<ul class="card--container {additionalClass}">
		<f:for each="{pages}" as="page">
			<li class="card card--layout-1" data-uri-target="{f:uri.typolink(parameter: page.typolink)}">
				<f:render section="Item" arguments="{page: page, record: record, settings: settings}" />
			</li>
		</f:for>
	</ul>
</f:section>

<f:section name="Item">
	<f:render partial="Components/Card" section="Media" arguments="{media: page.media, settings: settings.media.card}" />
	<f:render partial="Components/Card" section="Badges" arguments="{badges: page.badges}" />

	<div class="card--body">
		<f:render partial="Components/Card" section="Title" arguments="{title: page.teaserTitle, titleType: record.tx_foundation_elements_header, link: '{f:uri.typolink(parameter: page.typolink)}'}" />

		<f:if condition="{page.abstract}">
			<f:render partial="Components/Card" section="Description" arguments="{description: page.abstract}" />
		</f:if>
	</div>
</f:section>
</html>
